/**
 * Locally scoped CSS
 */

/* Banner */

.heroBanner {
  position: relative;
  padding: 3em 0 10rem 0;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(298deg, #3f37c9, #322ca0, #010400, #560bad);
  background-size: 800% 800%;
  -webkit-animation: gradient 8s ease infinite;
  -moz-animation: gradient 8s ease infinite;
  animation: gradient 8s ease infinite;
}

.heroBanner h1 {
  margin: 0 5%;
  font-weight: 900;
  font-size: 3.9rem;
  text-align: left;
}

.heroBanner h2 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: left;
  margin: 2rem 5%;
  text-align: justify;
}

.heroBanner .ctaButtonContainer {
  position: relative;
  z-index: 1000;
  width: 100%;
  text-align: left;
  padding-left: 5%;
}

.heroBanner .ctaButton {
  font-size: 1.5rem;
}

.heroBanner .ctaButton .github {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EGitHub%3C/title%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}

/* Terminal demo */

.terminal img {
  margin-top: -10rem;
  position: relative;
  width: 100%;
}

@media (max-width: 996px) {
  .terminal img {
    margin-top: 5rem;
  }
}

/* Supported solutions section */

.solutions h1 {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.solutionCard {
  box-shadow: none;
}

.solutionCard div:nth-child(1) {
  text-align: center;
}

.solutionCard p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.solutionCard div:nth-child(2) {
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.solutionCard a:hover {
  text-decoration: none;
}

/* Contact form */

.form h1 {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.form h2 {
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}
